
img{
    width: 100%;
}


.loader {
    position: fixed;
    width: 350px;
    height: 200px;
    margin-top: 20%;
    background-color:rgb(161, 206, 206);
    border: 3px solid rgb(185, 233, 229);
    border-radius: 10px;
}

textarea {
    width: 90%;
    height: 100px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background: transparent;
    border: transparent;
    font-size: 18px;
    text-align: center;
}

.btn-line {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.load-btn-cont{
    text-decoration: none;
}

.load-btn {
    text-align: center;
    width: 250px;
    height: 40px;
    padding-top: 5px;
    color: whitesmoke;
    background-color: rgb(65, 116, 116);
    border-radius: 10px;
    font-size: 25px;
}
.load-btn:hover{
    background-color: rgb(87, 145, 145);
}


.body-titleline{
    margin-top: 40px;
    margin-left: 20px;
}

.cost-controller{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    height: 450px;
    margin-top: 30px;
}
.cost-controller>div{
    background-color: rgb(25, 31, 31);
    border-radius: 20px;
    border: 3px solid rgb(35, 54, 54);
}

.newGrpGrp{
    width: 100%;
    margin-top: 40px;
}

.alertWindow{
    position: fixed;
    width: 300px;
    height: 400px;
    margin-top: 20%;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    background-color: rgb(224, 249, 250);
    border: 3px solid rgb(216, 2, 2);
    border-radius: 10px;
}
.alert-cont{
    width: 90%;
    height: 90%;
    margin-left: 15px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 10px;
}
.alert-header{
    height: 70%;
    color: rgb(182, 23, 23);
    text-align: center;
}
.alert-text{
    height: 50%;
    margin-top: 10%;
}
.alert-data{
    font-weight: normal;
}

/* .btn-ribbon{
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
}
.only-cancel{
    justify-content: center;
} */
/* .new-btns{
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 3px;
    text-align: center;
    font-size: 0.8em;
    border-radius: 40%;
    background-color: rgb(124, 141, 141);
    border: 1px solid rgb(234, 243, 248);
    box-shadow: 5px 5px 8px rgb(70, 95, 95);
} */
.del{
    color: rgb(182, 23, 23);
}
.not-del{
    color: rgb(56, 88, 88);
}
